*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vh;
    background: rgb(130,167,219);
    background: linear-gradient(149deg, rgba(130,167,219,1) 0%, rgba(179,252,227,1) 100%);
} 

.Registration{
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    top: 4%;
    left: 7%;
}

.Registration::before{ /* linha embaixo do nome */
    content: ""; /* sempre colocar no inicio */
    width: 30px;
    height: 3px;
    background-color: rgb(112, 148, 240);
    position: absolute;
    bottom: 0px;
    left: 2px;
}

.text_success{
    position: absolute;
    top: 13%;
    left: 7%;
    color: #00d400;
}

.container{
    height: 550px;
    width: 430px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 5px 20px #000;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    top: 50%;  left: 50%;  transform: translate(-50%, -50%);
}

.inputs{
    margin-top: 50px;
}

.email, .name, .password, .cfm-password {
    border: none;
    outline: none;
    height: 40px;
    width: 350px;
    background-color: transparent;
    padding: 0px 1em 0px 2.65em; /*afasta o placeholder*/
    border-bottom:  2px solid rgb(66, 111, 246);
    margin: 0;
}

.name:focus, .email:focus, .password:focus, .cfm-password:focus {
    border:  2px solid rgb(66, 111, 246);
    border-radius: 5px;
}

.l-icons{
    position: absolute;
    margin-left: 5px;
    font-size: 1.5rem;
    color:  rgb(66, 111, 246);
}

.show, .show-cfm, .hide, .hide-cfm{
    font-size: 1.3rem;
    color:  rgb(66, 111, 246);
}

.hide, .hide-cfm{
    display: none;
}

.msg-error-name, .msg-error-email, .msg-error-pass, .msg-error-cfmP{
    margin-left: 30px;
    color: #ff0000;
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;  
}

.msg-error-checkbox{
    margin-left: 135px;
}

.input-nm, .input-em, .input-pass, .input-pass-cnf {
    width: 350px;

    display: flex;
    align-items: center;
    margin-left: 30px;
}

.pass-icns, .pass-icnsC{
    position: absolute;
    display: flex;
    align-items: center;
    right: 50px;
    cursor: pointer;
}

.terms, .login{
    font-size: 16px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: rgb(66, 111, 246);
    transition: color 0.5s;
}

a:hover{
    color: rgb(79, 224, 174); 
}

.rgt-btn{
    width: 350px;
    height: 50px;
    background-color:rgb(66, 111, 246);
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px ;
    left: 50%;  transform: translate(-50%);
    color: white;
    font-size: 20px;
    transition: background 0.5s;
}

.rgt-btn:hover{
    background-color: rgb(112, 148, 240); 
}

/* .bxs-check-circle{
    position: absolute;
    right: 60px;
    color: green;
    display: none;
} */